* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    font-size: small;
    background-color: #262626;
    color:red;
}

h1 {
    color: red;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    border: none;
    background-color:gray;
    text-align: center;
    
}
header {
    background-color: #262626;
}

body {
    width: auto;
    height: auto;
    background-color: turquoise;
}