<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Finder</title>
</head>
<body>
    <h1 class="search">Character Finder</h1>

    <main>
        <p>This website is used to find characters entered by you and find the result from the Marvel API</p>
        <form class="new-post-form" action="/search" method="POST">
            <label for="search">Search Name:
                <input type="text" id="search" name="searchTerm"><br><br>
            </label> 
            <input type="submit">
        </form>
    </main>    
</body>
</html>

